{% extends "base.html" %}

{% block content %}
<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">Корзина</a></li>
	</div>
</ul>

<section class="cart">
	<div class="container">
		<div class="cart__wrapper row">
			<div class="cart__left">
				<h2>Оформление заказа</h2>
				<div class="catalog__right__top row">
					<a href="" class="lk-selector--active catalog__right__selector row">
						<span>Физическое лицо</span>
					</a>
					<a href="" class="catalog__right__selector row">
						<span>Юридическое лицо</span>
					</a>
				</div>
				<div class="cart-form">
					<form action="">
						<div class="cart-form__top">
							<label class="input">
								<span>Имя</span>
								<input type="text" placeholder="Александр">
							</label>
							<label class="input">
								<span>Имя</span>
								<input type="text" placeholder="Александр">
							</label>
							<label class="input">
								<span>Имя</span>
								<input type="text" placeholder="Александр">
							</label>
							<label class="input">
								<span>Имя</span>
								<input type="text" placeholder="Александр">
							</label>
							<label class="input">
								<span>Имя</span>
								<input type="text" placeholder="Александр">
							</label>
							<label class="input">
								<span>Имя</span>
								<input type="text" placeholder="Александр">
							</label>
						</div>
						<div class="cart-form__block">
							<h3>Введите адрес доставки вашего заказа</h3>
							<div class="cart-form__grid-1">
								<label class="input">
									<span>Адрес</span>
									<input type="text" placeholder="Воссатния, дом 56">
								</label>
								<label class="input">
									<span>Домофон</span>
									<input type="number" placeholder="45">
								</label>
								<label class="input">
									<span>Кв/офис</span>
									<input type="number" placeholder="45">
								</label>
							</div>
						</div>
						<div class="cart-form__block">
							<h3>Оплата заказа</h3>
							<div class="cart-form__payment">
								<label class="cart__right__item cart__right__item--active">
									<input type="radio" name="cart">
									<div class="cart__right__item__text">
										<p>Онлайн оплата картой</p>
										<span>Visa, Mastercard, МИР</span>
									</div>
								</label>
								<label class="cart__right__item">
									<input type="radio" name="cart">
									<div class="cart__right__item__text">
										<p>Оплата в рассрочку</p>
										<span>Оплата в течении 24 мес.</span>
									</div>
								</label>
								<label class="cart__right__item">
									<input type="radio" name="cart">
									<div class="cart__right__item__text">
										<p>По qr-коду через СПБ</p>
										<span>Visa, Mastercard, МИР</span>
									</div>
								</label>
							</div>


						</div>
					</form>
				</div>
			</div>
			<div class="cart__right">
				<div class="cart__right__title">
					Ваш заказ
				</div>
				<div class="cart__promo row">
					<div class="cart__promo__left">
						Промокод на скидку
					</div>
					<div class="cart__promo__right">
						<input type="text" placeholder="35GG-D322" class="cart__promo__input">
						<a href="" class="cart__promo__btn">
							<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M5.19727 11.62L9.0006 7.81667C9.44977 7.36751 9.44977 6.63251 9.0006 6.18334L5.19727 2.38"
									stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"
									stroke-linejoin="round" />
							</svg>

						</a>
					</div>
				</div>
				<div class="cart__promo cart__promo2 row">
					<div class="cart__promo__left">
						У вас 555 бонусов на счету
					</div>
					<div class="cart__promo__right">
						<input type="text" placeholder="500" class="cart__promo__input">
						<a href="" class="cart__promo__btn">
							<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M5.19727 11.62L9.0006 7.81667C9.44977 7.36751 9.44977 6.63251 9.0006 6.18334L5.19727 2.38"
									stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"
									stroke-linejoin="round" />
							</svg>

						</a>
					</div>
				</div>
				<div class="lk__right__plate__body__right">
					<div class="lk__right__plate__body__row row">
						<div class="lk__right__plate__body__col">
							Товаров на сумму
						</div>
						<div class="lk__right__plate__body__col">
							152 400 ₽
						</div>
					</div>
					<div class="lk__right__plate__body__row row cart-price-low">
						<div class="lk__right__plate__body__col">
							Сумма скидок
						</div>
						<div class="lk__right__plate__body__col">
							4 900 ₽
						</div>
					</div>
					<div class="lk__right__plate__body__row row">
						<div class="lk__right__plate__body__col">
							Доставка курьером
						</div>
						<div class="lk__right__plate__body__col">
							+ 1 750 ₽
						</div>
					</div>
					<div class="lk__right__plate__body__row lk__right__plate__body__total row">
						<div class="lk__right__plate__body__col">
							Итого
						</div>
						<div class="lk__right__plate__body__col">
							152 400 ₽
						</div>
					</div>
				</div>

				<div class="cart__right__pay row">
					<a href="" class="btn">Оплатить заказ</a>
					<label class="catalog__check checkbox">
						<span>Согласие
							с <a href="">политикой конфиденциальности</a></span>
						<input type="checkbox">

					</label>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
{% endblock content %}