{% extends "base.html" %}

{% block content %}
<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">Корзина</a></li>
	</div>
</ul>

<section class="cart cart-done">
	<div class="container">
		<div class="cart__wrapper row">
			<div class="cart__left">
				<h2>Ваш заказ оформлен</h2>
				<div class="cart-done__text">
					Номер заказа <span>989196058</span> · В скором времени
					мы свяжемся с вами для уточнения деталей заказа.
				</div>
				<div class="cart-done__descr">
					Мы отправили на вашу почту чек об оплате онлайн заказ
				</div>
				<div class="cart-done__btns row">
					<a href="" class="btn">Перейти на главную</a>
					<a href="" class="btn btn-grey" download="">скачать электронный чек</a>
				</div>
			</div>
			<div class="cart__right row">
				<img src="/static/img/cart1.webp" alt="">
				<img src="/static/img/cart2.webp" alt="">
			</div>
		</div>
	</div>
	</div>
</section>
{% endblock content %}