{% extends "base.html" %}

{% block content %}
<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">Частые вопросы</a></li>
	</div>
</ul>

<section class="faq">
	<div class="container">
		<h2>Частые вопросы</h2>
		<div class="faq__wrapper">
			<div class="faq__item">
				<div class="faq__show row row-space">
					<span>Какие преимущества кованых дисков?</span>
					<div class="faq__btn">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M16.5984 7.45837L11.1651 12.8917C10.5234 13.5334 9.47344 13.5334 8.83177 12.8917L3.39844 7.45837"
								stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>
					</div>
				</div>
				<div class="faq__hide">
					<p>
						Кованые диски с большой вероятностью сохранят автомобилю подвеску, чем при эксплуатации на литых
						дисках. За счет структуры литых дисков они являются менее надежными, хрупкими и жесткими. Именно
						жесткость передается на подвеску автомобиля, хрупкость за счет пористой структуры металла, где
						сохраняются поры с воздухом, так называемые «пузырьки», которые ослабляют литой диск.
					</p>
				</div>
			</div>
			<div class="faq__item">
				<div class="faq__show row row-space">
					<span>Какие преимущества кованых дисков?</span>
					<div class="faq__btn">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M16.5984 7.45837L11.1651 12.8917C10.5234 13.5334 9.47344 13.5334 8.83177 12.8917L3.39844 7.45837"
								stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>
					</div>
				</div>
				<div class="faq__hide">
					<p>
						Кованые диски с большой вероятностью сохранят автомобилю подвеску, чем при эксплуатации на литых
						дисках. За счет структуры литых дисков они являются менее надежными, хрупкими и жесткими. Именно
						жесткость передается на подвеску автомобиля, хрупкость за счет пористой структуры металла, где
						сохраняются поры с воздухом, так называемые «пузырьки», которые ослабляют литой диск.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}