{% extends "base.html" %}
{% block content %}
<section class="mainHeader">
	<div class="container row">
		<div class="mainHeader__left">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="background: url('/static/img/bg1.webp') no-repeat center;">
					<div class="mainHeader__label">
						Акция месяца
					</div>
					<div class="mainHeader__title">
						Комплекты шин с бесплатным шиномонтажом
					</div>
					<a href="" class="mainHeader__btn btn">Cмотреть каталог</a>
				</div>
				<div class="swiper-slide" style="background: url('/static/img/bg1.webp') no-repeat center;">
					<div class="mainHeader__label">
						Акция месяца
					</div>
					<div class="mainHeader__title">
						Комплекты шин с бесплатным шиномонтажом
					</div>
					<a href="" class="mainHeader__btn btn">Cмотреть каталог</a>
				</div>
			</div>
			<div class="mainHeader__page"></div>
		</div>

		<div class="mainHeader__right">
			<div class="mainHeader__right__item row">
				<div class="mainHeader__right__item__left">
					<div class="mainHeader__right__item__title">
						Крупное обновление каталога дисков
					</div>
					<p>
						Все новинки сезона — здесь
					</p>
				</div>
				<div class="mainHeader__right__item__right">
					<img src="/static/img/img1.webp" alt="">
				</div>
			</div>
			<div class="mainHeader__right__item row">
				<div class="mainHeader__right__item__left">
					<div class="mainHeader__right__item__title">
						Подарок за покупку летних шин
					</div>
					<p>
						Шины Continental или Matador
					</p>
				</div>
				<div class="mainHeader__right__item__right">
					<img src="/static/img/img2.webp" alt="">
				</div>
			</div>
			<a href="/promo/" class="mainHeader__right__more">
				Все акции
			</a>
		</div>
	</div>
</section>
<!-- 
<section class="mainForm">
	<div class="container">
		<div class="mainForm__wrapper">
			<div class="mainForm__top row">
				<a href="" class="mainForm__top__item">
					<span>Подобрать по авто</span>
					<img src="/static/img/f1.png" alt="">
				</a>
				<a href="" class="mainForm__top__item">
					<span>Шины по параметрам</span>
					<img src="/static/img/f2.png" alt="">
				</a>
				<a href="" class="mainForm__top__item">
					<span>Диски по параметрам</span>
					<img src="/static/img/f3.png" alt="">
				</a>
			</div>

			<div class="mainForm__center">
				<div class="mainForm__center__row row">
					<div class="select">
						<span>Марка</span>
						<select class="selectize">
							<option value="BMW" selected="selected">BMW</option>
							<option value="BMW2">BMW2</option>
						</select>
					</div>
				</div>
				<div class="mainForm__bottom row">
					<div class="mainForm__bottom__left row">
						<div class="mainForm__bottom__season selectors row">
							<a href="" class="selectors-item">Все</a>
							<a href="" class="selectors-item">Лето</a>
							<a href="" class="selectors-item">Зима</a>
						</div>
						<label class="check">
							<input type="checkbox">
							<span>Акции и скидки</span>
						</label>
						<label class="check">
							<input type="checkbox">
							<span>Бесплатный шиномонтаж</span>
						</label>
					</div>
					<div class="mainForm__bottom__right row">
						<a href="" class="btn">Подобрать шины</a>
						<a href="" class="btn btn-grey">Подобрать диски</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
 -->

<section class="items-slider">
	<div class="container">
		<div class="items-slider__top row row-space">
			<h2>Рекомендуем вам</h2>
		</div>
		<a href="" class="slider-left">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 19.92L8.48003 13.4C7.71003 12.63 7.71003 11.37 8.48003 10.6L15 4.08002" stroke="#243228"
					stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
		<div class="items-slider-wrapper items">
			<div class="swiper-wrapper">
				{% with in_slider=1 %}
				{% for p in recommend %}
				{% include "_product_item.html" %}
				{% endfor %}
				{% endwith %}
			</div>
		</div>
		<a href="" class="btn-border view-more">Смотреть все</a>
		<a href="" class="slider-right">
			<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M9.65253 21.58L16.7159 14.5166C17.55 13.6825 17.55 12.3175 16.7159 11.4833L9.65253 4.41998"
					stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"
					stroke-linejoin="round" />
			</svg>
		</a>
	</div>
</section>

{% if popular_tires %}
<section class="items-slider">
	<div class="container">
		<div class="items-slider__top row row-space">
			<h2>Популярные шины</h2>
		</div>
		<a href="" class="slider-left">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 19.92L8.48003 13.4C7.71003 12.63 7.71003 11.37 8.48003 10.6L15 4.08002" stroke="#243228"
					stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
		<div class="items-slider-wrapper items">
			<div class="swiper-wrapper">
				{% with in_slider=1 %}
				{% for p in popular_tires %}
				{% include "_product_item.html" %}
				{% endfor %}
				{% endwith %}
			</div>
		</div>
		<a href="" class="btn-border view-more">Смотреть все</a>
		<a href="" class="slider-right">
			<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M9.65253 21.58L16.7159 14.5166C17.55 13.6825 17.55 12.3175 16.7159 11.4833L9.65253 4.41998"
					stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"
					stroke-linejoin="round" />
			</svg>
		</a>
	</div>
</section>
{% endif %}

{% if popular_rims %}
<section class="items-slider">
	<div class="container">
		<div class="items-slider__top row row-space">
			<h2>Популярные диски</h2>
		</div>
		<a href="" class="slider-left">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 19.92L8.48003 13.4C7.71003 12.63 7.71003 11.37 8.48003 10.6L15 4.08002" stroke="#243228"
					stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
		<div class="items-slider-wrapper items">
			<div class="swiper-wrapper">
				{% with in_slider=1 %}
				{% for p in popular_rims %}
				{% include "_product_item.html" %}
				{% endfor %}
				{% endwith %}
			</div>
		</div>
		<a href="" class="btn-border view-more">Смотреть все</a>
		<a href="" class="slider-right">
			<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M9.65253 21.58L16.7159 14.5166C17.55 13.6825 17.55 12.3175 16.7159 11.4833L9.65253 4.41998"
					stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"
					stroke-linejoin="round" />
			</svg>
		</a>
	</div>
</section>
{% endif %}


{% include "_recent_promo.html" %}

<section class="preference">
	<div class="container">
		<h2>Наши преимущества</h2>
		<div class="preference__plate">
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Широкий ассортимент
						для быстрого поиска товара
					</p>
					<div class="preference__plate__img"><img src="/static/files/p1.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						18 лет
					</div>
					<p>
						на рынке шин
						и дисков
					</p>
				</div>
			</div>
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Выгодные
						цены, бонусы
						и постоянные скидки
					</p>
					<div class="preference__plate__img"><img src="/static/files/p2.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						2 000 +
					</div>
					<p>
						постоянных
						клиентов
					</p>
				</div>
			</div>
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Помощь
						в выборе подходящих
						шин и дисков
					</p>
					<div class="preference__plate__img"><img src="/static/files/p3.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						5 000 +
					</div>
					<p>
						товаров в наличии
						на складе
					</p>
				</div>
			</div>
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Собственный сервисный
						центр
						и магазин
					</p>
					<div class="preference__plate__img"><img src="/static/files/p4.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						50 +
					</div>
					<p>
						сотрудников
						в компании
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="brands">
	<div class="container">
		<div class="brands__top row row-space align-center">
			<h2>Популярные бренды</h2>
			<a href="" class="btn-border">Смотреть все</a>
		</div>

		<div class="brands__wrapper">
			<div class="brands__item">
				<img src="/static/img/lg1.png" alt="">
				<span>Pirelli</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg2.png" alt="">
				<span>Michelin
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg3.png" alt="">
				<span>Continental
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg4.png" alt="">
				<span>Cordiant
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg5.png" alt="">
				<span>Yokohama
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg6.png" alt="">
				<span>Bridgestone
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg1.png" alt="">
				<span>Pirelli</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg2.png" alt="">
				<span>Michelin
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg3.png" alt="">
				<span>Continental
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg4.png" alt="">
				<span>Cordiant
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg5.png" alt="">
				<span>Yokohama
				</span>
			</div>
			<div class="brands__item">
				<img src="/static/img/lg6.png" alt="">
				<span>Bridgestone
				</span>
			</div>
		</div>
	</div>
</section>


<section class="items-slider">
	<div class="container">
		<div class="items-slider__top row row-space">
			<h2>Выбор покупателей</h2>
		</div>
		<a href="" class="slider-left">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 19.92L8.48003 13.4C7.71003 12.63 7.71003 11.37 8.48003 10.6L15 4.08002" stroke="#243228"
					stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
		<div class="items-slider-wrapper items">
			<div class="swiper-wrapper">
				{% with in_slider=1 %}
				{% for p in most_buyed %}
					{% include "_product_item.html" %}
				{% endfor %}
				{% endwith %}
			</div>
		</div>
		<a href="" class="btn-border view-more">Смотреть все</a>
		<a href="" class="slider-right">
			<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M9.65253 21.58L16.7159 14.5166C17.55 13.6825 17.55 12.3175 16.7159 11.4833L9.65253 4.41998"
					stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"
					stroke-linejoin="round" />
			</svg>
		</a>
	</div>
</section>

{% include "_podbor.html" %}

{% endblock content %}