{% extends "base.html" %}

{% block content %}

<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">Личный кабинет</a></li>
	</div>
</ul>

<section class="lk">
	<div class="container">
		<div class="lk__left">
			<div class="lk__profile row">
				<img src="assets/files/lk.svg" alt="">
				<div class="lk__profile__info">
					<div class="lk__profile__name">
						ИП Валеев
					</div>
					<div class="lk__profile__descr">
						ИНН 7712345678
					</div>
				</div>
			</div>
			<ul class="lk__profile__menu">
				<li class="active"><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M13.01 2.91982L18.91 5.53982C20.61 6.28982 20.61 7.52982 18.91 8.27982L13.01 10.8998C12.34 11.1998 11.24 11.1998 10.57 10.8998L4.67002 8.27982C2.97002 7.52982 2.97002 6.28982 4.67002 5.53982L10.57 2.91982C11.24 2.61982 12.34 2.61982 13.01 2.91982Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M3 11C3 11.84 3.63 12.81 4.4 13.15L11.19 16.17C11.71 16.4 12.3 16.4 12.81 16.17L19.6 13.15C20.37 12.81 21 11.84 21 11"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M3 16C3 16.93 3.55 17.77 4.4 18.15L11.19 21.17C11.71 21.4 12.3 21.4 12.81 21.17L19.6 18.15C20.45 17.77 21 16.93 21 16"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Мои заказы</span>
					</a></li>
				<li><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13 11.1499H7" stroke="#243228" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
							<path
								d="M2 11.1498V6.52985C2 4.48985 3.65 2.83984 5.69 2.83984H11.31C13.35 2.83984 15 4.10984 15 6.14984"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M17.48 12.1999C16.98 12.6799 16.74 13.4199 16.94 14.1799C17.19 15.1099 18.11 15.6999 19.07 15.6999H20V17.1499C20 19.3599 18.21 21.1499 16 21.1499H6C3.79 21.1499 2 19.3599 2 17.1499V10.1499C2 7.9399 3.79 6.1499 6 6.1499H16C18.2 6.1499 20 7.9499 20 10.1499V11.5999H18.92C18.36 11.5999 17.85 11.8199 17.48 12.1999Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M22 12.6201V14.6801C22 15.2401 21.54 15.7001 20.97 15.7001H19.04C17.96 15.7001 16.97 14.9101 16.88 13.8301C16.82 13.2001 17.06 12.6101 17.48 12.2001C17.85 11.8201 18.36 11.6001 18.92 11.6001H20.97C21.54 11.6001 22 12.0601 22 12.6201Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Бонусы</span>
						<div class="lk__profile__bonus">2 580 ₽</div>
					</a></li>
				<li><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14" stroke="#243228"
								stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M22 10H18C15 10 14 9 14 6V2L22 10Z" stroke="#243228" stroke-width="1.5"
								stroke-linecap="round" stroke-linejoin="round" />
							<path d="M7 13H13" stroke="#243228" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
							<path d="M7 17H11" stroke="#243228" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>
						<span>Документы</span>
					</a></li>
				<li><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M3 9.10986V14.8799C3 16.9999 3 16.9999 5 18.3499L10.5 21.5299C11.33 22.0099 12.68 22.0099 13.5 21.5299L19 18.3499C21 16.9999 21 16.9999 21 14.8899V9.10986C21 6.99986 21 6.99986 19 5.64986L13.5 2.46986C12.68 1.98986 11.33 1.98986 10.5 2.46986L5 5.64986C3 6.99986 3 6.99986 3 9.10986Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Настройки</span>
					</a></li>
				<li><a href="" class="lk__exit">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.1 7.56023C14.79 3.96023 12.94 2.49023 8.88998 2.49023H8.75998C4.28998 2.49023 2.49998 4.28023 2.49998 8.75023V15.2702C2.49998 19.7402 4.28998 21.5302 8.75998 21.5302H8.88998C12.91 21.5302 14.76 20.0802 15.09 16.5402"
								stroke="#B3B7BC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M9 12H20.38" stroke="#B3B7BC" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
							<path d="M18.15 8.6499L21.5 11.9999L18.15 15.3499" stroke="#B3B7BC" stroke-width="1.5"
								stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Выйти</span>
					</a></li>
			</ul>
		</div>
		<div class="lk__right">
			<h2>Мои заказы</h2>
			<div class="catalog__right__top row">
				<a href="" class="lk-selector--active catalog__right__selector row">
					<span>активные</span>
					<div class="catalog__right__num">4</div>
				</a>
				<a href="" class="catalog__right__selector row">
					<span>Завершенные</span>
					<div class="catalog__right__num">6</div>
				</a>
				<a href="" class="catalog__right__selector row">
					<span>Отмененные</span>
					<div class="catalog__right__num">2</div>
				</a>

			</div>

			<div class="lk__right__wrapper">
				<div class="lk__right__item item--active">
					<div class="lk__right__plate">
						<div class="lk__right__plate__top row row-space">
							<div class="lk__right__plate__top__left">
								<div class="lk__right__plate__status">
									<span>Активный</span> · Создан 24 июня 2023
								</div>
								<div class="lk__right__plate__title">
									Заказ #439560 в доставке → Восстания 56
								</div>
							</div>
							<div class="lk__right__plate__top__right row">
								<a download href="" class="lk__right__plate__doc row">
									документы
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M11.85 1.65737C11.5425 1.34987 11.01 1.55987 11.01 1.98737V4.60487C11.01 5.69987 11.94 6.60737 13.0725 6.60737C13.785 6.61487 14.775 6.61487 15.6225 6.61487C16.05 6.61487 16.275 6.11237 15.975 5.81237C14.895 4.72487 12.96 2.76737 11.85 1.65737Z"
											fill="#243228" />
										<path
											d="M15.375 7.6425H13.2075C11.43 7.6425 9.9825 6.195 9.9825 4.4175V2.25C9.9825 1.8375 9.645 1.5 9.2325 1.5H6.0525C3.7425 1.5 1.875 3 1.875 5.6775V12.3225C1.875 15 3.7425 16.5 6.0525 16.5H11.9475C14.2575 16.5 16.125 15 16.125 12.3225V8.3925C16.125 7.98 15.7875 7.6425 15.375 7.6425ZM8.625 13.3125H5.625C5.3175 13.3125 5.0625 13.0575 5.0625 12.75C5.0625 12.4425 5.3175 12.1875 5.625 12.1875H8.625C8.9325 12.1875 9.1875 12.4425 9.1875 12.75C9.1875 13.0575 8.9325 13.3125 8.625 13.3125ZM10.125 10.3125H5.625C5.3175 10.3125 5.0625 10.0575 5.0625 9.75C5.0625 9.4425 5.3175 9.1875 5.625 9.1875H10.125C10.4325 9.1875 10.6875 9.4425 10.6875 9.75C10.6875 10.0575 10.4325 10.3125 10.125 10.3125Z"
											fill="#243228" />
									</svg>
								</a>
								<div class="lk__right__plate__state done">
									Оплачен
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9 1.5C4.8675 1.5 1.5 4.8675 1.5 9C1.5 13.1325 4.8675 16.5 9 16.5C13.1325 16.5 16.5 13.1325 16.5 9C16.5 4.8675 13.1325 1.5 9 1.5ZM12.585 7.275L8.3325 11.5275C8.2275 11.6325 8.085 11.6925 7.935 11.6925C7.785 11.6925 7.6425 11.6325 7.5375 11.5275L5.415 9.405C5.1975 9.1875 5.1975 8.8275 5.415 8.61C5.6325 8.3925 5.9925 8.3925 6.21 8.61L7.935 10.335L11.79 6.48C12.0075 6.2625 12.3675 6.2625 12.585 6.48C12.8025 6.6975 12.8025 7.05 12.585 7.275Z"
											fill="white" />
									</svg>
								</div>
							</div>
						</div>
						<div class="lk__right__plate__body row">
							<div class="lk__right__plate__body__left">
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
							</div>
							<div class="lk__right__plate__body__right">
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Товары (3)
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row lk__right__plate__body__total row">
									<div class="lk__right__plate__body__col">
										Итого
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lk__right__plate">
						<div class="lk__right__plate__top row row-space">
							<div class="lk__right__plate__top__left">
								<div class="lk__right__plate__status">
									<span>Активный</span> · Создан 24 июня 2023
								</div>
								<div class="lk__right__plate__title">
									Заказ #439560 в доставке → Восстания 56
								</div>
							</div>
							<div class="lk__right__plate__top__right row">
								<a download href="" class="lk__right__plate__doc row">
									документы
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M11.85 1.65737C11.5425 1.34987 11.01 1.55987 11.01 1.98737V4.60487C11.01 5.69987 11.94 6.60737 13.0725 6.60737C13.785 6.61487 14.775 6.61487 15.6225 6.61487C16.05 6.61487 16.275 6.11237 15.975 5.81237C14.895 4.72487 12.96 2.76737 11.85 1.65737Z"
											fill="#243228" />
										<path
											d="M15.375 7.6425H13.2075C11.43 7.6425 9.9825 6.195 9.9825 4.4175V2.25C9.9825 1.8375 9.645 1.5 9.2325 1.5H6.0525C3.7425 1.5 1.875 3 1.875 5.6775V12.3225C1.875 15 3.7425 16.5 6.0525 16.5H11.9475C14.2575 16.5 16.125 15 16.125 12.3225V8.3925C16.125 7.98 15.7875 7.6425 15.375 7.6425ZM8.625 13.3125H5.625C5.3175 13.3125 5.0625 13.0575 5.0625 12.75C5.0625 12.4425 5.3175 12.1875 5.625 12.1875H8.625C8.9325 12.1875 9.1875 12.4425 9.1875 12.75C9.1875 13.0575 8.9325 13.3125 8.625 13.3125ZM10.125 10.3125H5.625C5.3175 10.3125 5.0625 10.0575 5.0625 9.75C5.0625 9.4425 5.3175 9.1875 5.625 9.1875H10.125C10.4325 9.1875 10.6875 9.4425 10.6875 9.75C10.6875 10.0575 10.4325 10.3125 10.125 10.3125Z"
											fill="#243228" />
									</svg>
								</a>
								<div class="lk__right__plate__state wait">
									ожидает оплаты
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9 1.5C4.8675 1.5 1.5 4.8675 1.5 9C1.5 13.1325 4.8675 16.5 9 16.5C13.1325 16.5 16.5 13.1325 16.5 9C16.5 4.8675 13.1325 1.5 9 1.5ZM12.2625 11.6775C12.1575 11.8575 11.97 11.955 11.775 11.955C11.6775 11.955 11.58 11.9325 11.49 11.8725L9.165 10.485C8.5875 10.14 8.16 9.3825 8.16 8.715V5.64C8.16 5.3325 8.415 5.0775 8.7225 5.0775C9.03 5.0775 9.285 5.3325 9.285 5.64V8.715C9.285 8.985 9.51 9.3825 9.7425 9.5175L12.0675 10.905C12.3375 11.0625 12.4275 11.4075 12.2625 11.6775Z"
											fill="white" />
									</svg>

								</div>
							</div>
						</div>
						<div class="lk__right__plate__body row">
							<div class="lk__right__plate__body__left">
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
							</div>
							<div class="lk__right__plate__body__right">
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Товары (3)
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row lk__right__plate__body__total row">
									<div class="lk__right__plate__body__col">
										Итого
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="news__loadMore">
						Загрузить больше
					</a>
					<ul class="news__page row">
						<li class="news-prev"><a href="">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M14.9998 19.92L8.47984 13.4C7.70984 12.63 7.70984 11.37 8.47984 10.6L14.9998 4.07996"
										stroke="#282828" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
										stroke-linejoin="round"></path>
								</svg>
							</a></li>
						<li class="active"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li class="news-next"><a href="">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07996"
										stroke="#282828" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
										stroke-linejoin="round"></path>
								</svg>
							</a></li>
					</ul>
				</div>

				<div class="lk__right__item">
					<div class="lk__right__plate">
						<div class="lk__right__plate__top row row-space">
							<div class="lk__right__plate__top__left">
								<div class="lk__right__plate__status">
									<span>Активный</span> · Создан 24 июня 2023
								</div>
								<div class="lk__right__plate__title">
									Заказ #439560 в доставке → Восстания 56
								</div>
							</div>
							<div class="lk__right__plate__top__right row">
								<a download href="" class="lk__right__plate__doc row">
									документы
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M11.85 1.65737C11.5425 1.34987 11.01 1.55987 11.01 1.98737V4.60487C11.01 5.69987 11.94 6.60737 13.0725 6.60737C13.785 6.61487 14.775 6.61487 15.6225 6.61487C16.05 6.61487 16.275 6.11237 15.975 5.81237C14.895 4.72487 12.96 2.76737 11.85 1.65737Z"
											fill="#243228" />
										<path
											d="M15.375 7.6425H13.2075C11.43 7.6425 9.9825 6.195 9.9825 4.4175V2.25C9.9825 1.8375 9.645 1.5 9.2325 1.5H6.0525C3.7425 1.5 1.875 3 1.875 5.6775V12.3225C1.875 15 3.7425 16.5 6.0525 16.5H11.9475C14.2575 16.5 16.125 15 16.125 12.3225V8.3925C16.125 7.98 15.7875 7.6425 15.375 7.6425ZM8.625 13.3125H5.625C5.3175 13.3125 5.0625 13.0575 5.0625 12.75C5.0625 12.4425 5.3175 12.1875 5.625 12.1875H8.625C8.9325 12.1875 9.1875 12.4425 9.1875 12.75C9.1875 13.0575 8.9325 13.3125 8.625 13.3125ZM10.125 10.3125H5.625C5.3175 10.3125 5.0625 10.0575 5.0625 9.75C5.0625 9.4425 5.3175 9.1875 5.625 9.1875H10.125C10.4325 9.1875 10.6875 9.4425 10.6875 9.75C10.6875 10.0575 10.4325 10.3125 10.125 10.3125Z"
											fill="#243228" />
									</svg>
								</a>
								<div class="lk__right__plate__state done">
									Оплачен
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9 1.5C4.8675 1.5 1.5 4.8675 1.5 9C1.5 13.1325 4.8675 16.5 9 16.5C13.1325 16.5 16.5 13.1325 16.5 9C16.5 4.8675 13.1325 1.5 9 1.5ZM12.585 7.275L8.3325 11.5275C8.2275 11.6325 8.085 11.6925 7.935 11.6925C7.785 11.6925 7.6425 11.6325 7.5375 11.5275L5.415 9.405C5.1975 9.1875 5.1975 8.8275 5.415 8.61C5.6325 8.3925 5.9925 8.3925 6.21 8.61L7.935 10.335L11.79 6.48C12.0075 6.2625 12.3675 6.2625 12.585 6.48C12.8025 6.6975 12.8025 7.05 12.585 7.275Z"
											fill="white" />
									</svg>
								</div>
							</div>
						</div>
						<div class="lk__right__plate__body row">
							<div class="lk__right__plate__body__left">
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
							</div>
							<div class="lk__right__plate__body__right">
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Товары (3)
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row lk__right__plate__body__total row">
									<div class="lk__right__plate__body__col">
										Итого
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="news__loadMore">
						Загрузить больше
					</a>
					<ul class="news__page row">
						<li class="news-prev"><a href="">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M14.9998 19.92L8.47984 13.4C7.70984 12.63 7.70984 11.37 8.47984 10.6L14.9998 4.07996"
										stroke="#282828" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
										stroke-linejoin="round"></path>
								</svg>
							</a></li>
						<li class="active"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li class="news-next"><a href="">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07996"
										stroke="#282828" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
										stroke-linejoin="round"></path>
								</svg>
							</a></li>
					</ul>
				</div>

				<div class="lk__right__item">
					<div class="lk__right__plate">
						<div class="lk__right__plate__top row row-space">
							<div class="lk__right__plate__top__left">
								<div class="lk__right__plate__status">
									<span>Активный</span> · Создан 24 июня 2023
								</div>
								<div class="lk__right__plate__title">
									Заказ #439560 в доставке → Восстания 56
								</div>
							</div>
							<div class="lk__right__plate__top__right row">
								<a download href="" class="lk__right__plate__doc row">
									документы
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M11.85 1.65737C11.5425 1.34987 11.01 1.55987 11.01 1.98737V4.60487C11.01 5.69987 11.94 6.60737 13.0725 6.60737C13.785 6.61487 14.775 6.61487 15.6225 6.61487C16.05 6.61487 16.275 6.11237 15.975 5.81237C14.895 4.72487 12.96 2.76737 11.85 1.65737Z"
											fill="#243228" />
										<path
											d="M15.375 7.6425H13.2075C11.43 7.6425 9.9825 6.195 9.9825 4.4175V2.25C9.9825 1.8375 9.645 1.5 9.2325 1.5H6.0525C3.7425 1.5 1.875 3 1.875 5.6775V12.3225C1.875 15 3.7425 16.5 6.0525 16.5H11.9475C14.2575 16.5 16.125 15 16.125 12.3225V8.3925C16.125 7.98 15.7875 7.6425 15.375 7.6425ZM8.625 13.3125H5.625C5.3175 13.3125 5.0625 13.0575 5.0625 12.75C5.0625 12.4425 5.3175 12.1875 5.625 12.1875H8.625C8.9325 12.1875 9.1875 12.4425 9.1875 12.75C9.1875 13.0575 8.9325 13.3125 8.625 13.3125ZM10.125 10.3125H5.625C5.3175 10.3125 5.0625 10.0575 5.0625 9.75C5.0625 9.4425 5.3175 9.1875 5.625 9.1875H10.125C10.4325 9.1875 10.6875 9.4425 10.6875 9.75C10.6875 10.0575 10.4325 10.3125 10.125 10.3125Z"
											fill="#243228" />
									</svg>
								</a>
								<div class="lk__right__plate__state done">
									Оплачен
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M9 1.5C4.8675 1.5 1.5 4.8675 1.5 9C1.5 13.1325 4.8675 16.5 9 16.5C13.1325 16.5 16.5 13.1325 16.5 9C16.5 4.8675 13.1325 1.5 9 1.5ZM12.585 7.275L8.3325 11.5275C8.2275 11.6325 8.085 11.6925 7.935 11.6925C7.785 11.6925 7.6425 11.6325 7.5375 11.5275L5.415 9.405C5.1975 9.1875 5.1975 8.8275 5.415 8.61C5.6325 8.3925 5.9925 8.3925 6.21 8.61L7.935 10.335L11.79 6.48C12.0075 6.2625 12.3675 6.2625 12.585 6.48C12.8025 6.6975 12.8025 7.05 12.585 7.275Z"
											fill="white" />
									</svg>
								</div>
							</div>
						</div>
						<div class="lk__right__plate__body row">
							<div class="lk__right__plate__body__left">
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
								<div class="lk__right__plate__position row">
									<img src="assets/img/it1.png" alt="">
									<a href="" class="lk__right__plate__position__info">
										<p>Шина Pirelli Cinturato P1 Verde 185/65 R15 92H</p>
										<span>280 г · Со сметаной</span>
									</a>
									<div class="lk__right__plate__position__col lk__right__plate__position__price1">
										<p>5 260 ₽</p>
										<span>1 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>комплект 4 шт</span>
									</div>
									<div class="lk__right__plate__position__col">
										<p>5 260 ₽</p>
										<span>в заказе 4</span>
									</div>
								</div>
							</div>
							<div class="lk__right__plate__body__right">
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Товары (3)
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row row">
									<div class="lk__right__plate__body__col">
										Начислили баллы
									</div>
									<div class="lk__right__plate__body__col">
										+ 1 750 ₽
									</div>
								</div>
								<div class="lk__right__plate__body__row lk__right__plate__body__total row">
									<div class="lk__right__plate__body__col">
										Итого
									</div>
									<div class="lk__right__plate__body__col">
										152 400 ₽
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="news__loadMore">
						Загрузить больше
					</a>
					<ul class="news__page row">
						<li class="news-prev"><a href="">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M14.9998 19.92L8.47984 13.4C7.70984 12.63 7.70984 11.37 8.47984 10.6L14.9998 4.07996"
										stroke="#282828" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
										stroke-linejoin="round"></path>
								</svg>
							</a></li>
						<li class="active"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li class="news-next"><a href="">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07996"
										stroke="#282828" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
										stroke-linejoin="round"></path>
								</svg>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}