{% extends "base.html" %}

{% block content %}

<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">Настройки</a></li>
	</div>
</ul>

<section class="lk">
	<div class="container">
		<div class="lk__left">
			<div class="lk__profile row">
				<img src="assets/files/lk.svg" alt="">
				<div class="lk__profile__info">
					<div class="lk__profile__name">
						ИП Валеев
					</div>
					<div class="lk__profile__descr">
						ИНН 7712345678
					</div>
				</div>
			</div>
			<ul class="lk__profile__menu">
				<li><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M13.01 2.91982L18.91 5.53982C20.61 6.28982 20.61 7.52982 18.91 8.27982L13.01 10.8998C12.34 11.1998 11.24 11.1998 10.57 10.8998L4.67002 8.27982C2.97002 7.52982 2.97002 6.28982 4.67002 5.53982L10.57 2.91982C11.24 2.61982 12.34 2.61982 13.01 2.91982Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M3 11C3 11.84 3.63 12.81 4.4 13.15L11.19 16.17C11.71 16.4 12.3 16.4 12.81 16.17L19.6 13.15C20.37 12.81 21 11.84 21 11"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M3 16C3 16.93 3.55 17.77 4.4 18.15L11.19 21.17C11.71 21.4 12.3 21.4 12.81 21.17L19.6 18.15C20.45 17.77 21 16.93 21 16"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Мои заказы</span>
					</a></li>
				<li><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13 11.1499H7" stroke="#243228" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
							<path
								d="M2 11.1498V6.52985C2 4.48985 3.65 2.83984 5.69 2.83984H11.31C13.35 2.83984 15 4.10984 15 6.14984"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M17.48 12.1999C16.98 12.6799 16.74 13.4199 16.94 14.1799C17.19 15.1099 18.11 15.6999 19.07 15.6999H20V17.1499C20 19.3599 18.21 21.1499 16 21.1499H6C3.79 21.1499 2 19.3599 2 17.1499V10.1499C2 7.9399 3.79 6.1499 6 6.1499H16C18.2 6.1499 20 7.9499 20 10.1499V11.5999H18.92C18.36 11.5999 17.85 11.8199 17.48 12.1999Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M22 12.6201V14.6801C22 15.2401 21.54 15.7001 20.97 15.7001H19.04C17.96 15.7001 16.97 14.9101 16.88 13.8301C16.82 13.2001 17.06 12.6101 17.48 12.2001C17.85 11.8201 18.36 11.6001 18.92 11.6001H20.97C21.54 11.6001 22 12.0601 22 12.6201Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Бонусы</span>
						<div class="lk__profile__bonus">2 580 ₽</div>
					</a></li>
				<li><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14" stroke="#243228"
								stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M22 10H18C15 10 14 9 14 6V2L22 10Z" stroke="#243228" stroke-width="1.5"
								stroke-linecap="round" stroke-linejoin="round" />
							<path d="M7 13H13" stroke="#243228" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
							<path d="M7 17H11" stroke="#243228" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>
						<span>Документы</span>
					</a></li>
				<li class="active"><a href="">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M3 9.10986V14.8799C3 16.9999 3 16.9999 5 18.3499L10.5 21.5299C11.33 22.0099 12.68 22.0099 13.5 21.5299L19 18.3499C21 16.9999 21 16.9999 21 14.8899V9.10986C21 6.99986 21 6.99986 19 5.64986L13.5 2.46986C12.68 1.98986 11.33 1.98986 10.5 2.46986L5 5.64986C3 6.99986 3 6.99986 3 9.10986Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
								stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Настройки</span>
					</a></li>
				<li><a href="" class="lk__exit">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.1 7.56023C14.79 3.96023 12.94 2.49023 8.88998 2.49023H8.75998C4.28998 2.49023 2.49998 4.28023 2.49998 8.75023V15.2702C2.49998 19.7402 4.28998 21.5302 8.75998 21.5302H8.88998C12.91 21.5302 14.76 20.0802 15.09 16.5402"
								stroke="#B3B7BC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M9 12H20.38" stroke="#B3B7BC" stroke-width="1.5" stroke-linecap="round"
								stroke-linejoin="round" />
							<path d="M18.15 8.6499L21.5 11.9999L18.15 15.3499" stroke="#B3B7BC" stroke-width="1.5"
								stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<span>Выйти</span>
					</a></li>
			</ul>
		</div>
		<div class="lk__right">
			<h2>Настройки</h2>

			<form action="" class="lk__settings">
				<div class="lk__settings__top">
					<div class="lk__settings__title">
						Контакты
					</div>
					<div class="lk__settings__top__row">
						<label class="input">
							<span>Название компании</span>
							<input type="text" placeholder="ИП Валеев">
						</label>
						<label class="input">
							<span>Номер телефона</span>
							<input type="tel" value="+7 847 908-54-78">
						</label>
						<label class="input">
							<span>Электронная почта</span>
							<input type="email" placeholder="valeevgroup@mail.com">
						</label>
						<label class="input">
							<span>Ваш город</span>
							<input type="text" value="Казань">
						</label>
					</div>
				</div>
				<div class="lk__settings__main">
					<div class="lk__settings__title">
						Реквизиты компании
					</div>
					<div class="lk__settings__main__grid">
						<label class="input">
							<span>Полное наименование организации</span>
							<input type="text" value="Индивидуальный предприниматель «Валеев»">
						</label>
						<label class="input">
							<span>Юридический адрес</span>
							<input type="text" value="123456, г. Казань, ул. Подвойского, д. 14, стр. 7">
						</label>
						<label class="input">
							<span>Электронная почта</span>
							<input type="text" value="123456, г. Казань, ул. Подвойского, д. 14, стр. 7">
						</label>
						<label class="input">
							<span>ИНН</span>
							<input type="text" value="7712345678">
						</label>
						<label class="input">
							<span>КПП</span>
							<input type="text" value="7712345678">
						</label>
						<label class="input">
							<span>БИК</span>
							<input type="text" value="7712345678">
						</label>
						<label class="input">
							<span>ОГРН</span>
							<input type="text" value="7712345678">
						</label>
						<label class="input">
							<span>Расчетный счет</span>
							<input type="text" value="4070 2810 1234 5010 1230  -  в Московский банк ПАО Сбербанк г. Москва">
						</label>
						<label class="input">
							<span>Корреспондентский счёт</span>
							<input type="text" value="30101234500000000225">
						</label>
						<label class="input">
							<span>Генеральный директор</span>
							<input type="text" value="Валеев Сергей Петрович">
						</label>
						<label class="input">
							<span>Электронная почта</span>
							<input type="email" value="valeevgroup@mail.com">
						</label>
						<label class="input">
							<span>Телефон</span>
							<input type="tel" value="+749512345678">
						</label>
					</div>
				</div>
				<a href="" class="btn">Cохранить</a>
			</form>
		</div>
	</div>
</section>


{% endblock content %}