{% extends "base.html" %}

{% block content %}
    {% block main %}
        
    {% endblock main %}

    {% block promo %}
        {% include "_recent_promo.html" %}
    {% endblock promo %}

    <section class="items-slider">
    	<div class="container">
    		<div class="items-slider__top row row-space">
    			<h2>Выбор покупателей</h2>
    		</div>
    		<a href="" class="slider-left">
    			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    				<path d="M15 19.92L8.48003 13.4C7.71003 12.63 7.71003 11.37 8.48003 10.6L15 4.08002" stroke="#243228"
    					stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    			</svg>
    		</a>
    		<div class="items-slider-wrapper items">
    			<div class="swiper-wrapper">
                    {% with in_slider=1 %}
    				{% for p in get_most_viewed_products() %}
    					{% include "_product_item.html" %}
    				{% endfor %}
                    {% endwith %}
    			</div>
    		</div>
    		<a href="" class="btn-border view-more">Смотреть все</a>
    		<a href="" class="slider-right">
    			<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    				<path d="M9.65253 21.58L16.7159 14.5166C17.55 13.6825 17.55 12.3175 16.7159 11.4833L9.65253 4.41998"
    					stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"
    					stroke-linejoin="round" />
    			</svg>
    		</a>
    	</div>
    </section>

    {% include "_podbor.html" %}
{% endblock content %}