{% extends "pub.html" %}

{% block main %}
<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">Правила обмена и возврата</a></li>
	</div>
</ul>

<section class="return">
	<div class="container">
		<div class="return__block">
			<h2>Правила обмена и возврата</h2>
			<div class="return__grid">
				<div class="return__item">
					<div class="return__left">
						<div class="return__title">
							Товар надлежащего качества
						</div>
						<div class="return__text">
							<p>
								Потребитель вправе вернуть товар надлежащего качества (товар, который исправен и может
								обеспечить исполнение своих функциональных качеств), в течение 14 календарных дней с момента
								покупки при условии, что он не был в употреблении, сохранен его товарный вид, упаковка,
								потребительские свойства, пломбы, фирменные ярлыки, имеется кассовый чек и акт сдачи-приема
								товара от продавца. См. Закон Российской Федерации от 7 февраля 1992 г. N 2300-I "О защите прав
								потребителей" ст. 25. При возврате товара надлежащего качества расходы по доставке возращенного
								товара продавцу несет покупатель.

							</p>
						</div>
					</div>
					<div class="return__right">
						<svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.248 38.6666L26.873 42.2916L34.7272 35.0416" stroke="#21AB4A" stroke-width="1.5"
								stroke-linecap="round" stroke-linejoin="round" />
							<path d="M21.2913 4.83337L12.543 13.6059" stroke="#21AB4A" stroke-width="1.5"
								stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M36.709 4.83337L45.4573 13.6059" stroke="#21AB4A" stroke-width="1.5"
								stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M4.83398 18.9708C4.83398 14.5 7.22648 14.1375 10.199 14.1375H47.8023C50.7748 14.1375 53.1673 14.5 53.1673 18.9708C53.1673 24.1666 50.7748 23.8041 47.8023 23.8041H10.199C7.22648 23.8041 4.83398 24.1666 4.83398 18.9708Z"
								stroke="#21AB4A" stroke-width="1.5" />
							<path
								d="M8.45898 24.1666L11.8665 45.0466C12.6398 49.735 14.5007 53.1666 21.4123 53.1666H35.9848C43.5006 53.1666 44.6123 49.88 45.4823 45.3366L49.5423 24.1666"
								stroke="#21AB4A" stroke-width="1.5" stroke-linecap="round" />
						</svg>


					</div>
				</div>
				<div class="return__item">
					<div class="return__left">
						<div class="return__title">
							Товар ненадлежащего качества
						</div>
						<div class="return__text">
							<p>
								Товар ненадлежащего качества - это товар, который неисправен и не может обеспечить исполнение
								своих функциональных качеств. Отличие элементов дизайна или оформления от указанных в описании
								на сайте не относится к признакам ненадлежащего качества.Брак, выявленный в ходе эксплуатации
								автомобильных шин, принимается в качестве рекламации после положительного решения по экспертизе
								НИИШП.Оттенки доставленных товаров могут отличаться от оттенков, которые Вы видите на сайте. Это
								может быть вызвано моделью и настройками Вашего монитора, источником света в Вашем помещении,
								общей освещенностью помещения. Такое различие также не является признаком ненадлежащего качества
								товара.Необходимо проверять внешний вид и комплектность товара в момент получения заказа. После
								получения заказа претензии к внешним дефектам товара, его количеству, комплектности и товарному
								виду не принимаются. Продажа товара ненадлежащего качества регулируется положениями ст. 18
								Закона о защите прав потребителей.
							</p>
						</div>
					</div>
					<div class="return__right">
						<svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22.1602 35.8392L35.8385 22.1609" stroke="#21AB4A" stroke-width="1.5"
								stroke-linecap="round" stroke-linejoin="round" />
							<path d="M35.8385 35.8392L22.1602 22.1609" stroke="#21AB4A" stroke-width="1.5"
								stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M21.7506 53.1667H36.2506C48.334 53.1667 53.1673 48.3334 53.1673 36.25V21.75C53.1673 9.66671 48.334 4.83337 36.2506 4.83337H21.7506C9.66732 4.83337 4.83398 9.66671 4.83398 21.75V36.25C4.83398 48.3334 9.66732 53.1667 21.7506 53.1667Z"
								stroke="#21AB4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</div>
				</div>
				<div class="return__item">
					<div class="return__left">
						<div class="return__title">
							Возврат продукции и примерка
							дисков на автомобиль
						</div>
						<div class="return__text">
							<p>
								Необходимо примерять все диски на свои места спереди и сзади до шиномонтажа во избежание
								конфликтных и стрессовых ситуаций и финансовых потерь, как за шиномонтажные работы,
								так и за уценку дисков
							</p>
							<p>
								Возврат переведенных средств, производится на Ваш банковский счет в течении 5-10 рабочих дней
								(срок зависит от Банка, который выдал Вашу банковскую карту)Важно! Если покупателю
								осуществлялась платная доставка, то при возврате продукции деньги, уплаченные за доставку, не
								возвращаются!
							</p>
						</div>
					</div>
					<div class="return__right">
						<svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M40.9863 14.9109C45.8197 18.2701 49.1547 23.6109 49.8313 29.7734" stroke="#21AB4A"
								stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M8.43359 29.8941C9.06193 23.7558 12.3486 18.4149 17.1336 15.0316" stroke="#21AB4A"
								stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M19.793 50.605C22.5963 52.0308 25.7863 52.8283 29.1455 52.8283C32.3838 52.8283 35.4288 52.1033 38.1596 50.7741"
								stroke="#21AB4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M29.1441 18.6083C32.8545 18.6083 35.8624 15.6004 35.8624 11.89C35.8624 8.17953 32.8545 5.17163 29.1441 5.17163C25.4337 5.17163 22.4258 8.17953 22.4258 11.89C22.4258 15.6004 25.4337 18.6083 29.1441 18.6083Z"
								stroke="#21AB4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M11.6734 48.14C15.3838 48.14 18.3917 45.1321 18.3917 41.4217C18.3917 37.7113 15.3838 34.7034 11.6734 34.7034C7.96298 34.7034 4.95508 37.7113 4.95508 41.4217C4.95508 45.1321 7.96298 48.14 11.6734 48.14Z"
								stroke="#21AB4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
							<path
								d="M46.3277 48.14C50.0381 48.14 53.046 45.1321 53.046 41.4217C53.046 37.7113 50.0381 34.7034 46.3277 34.7034C42.6173 34.7034 39.6094 37.7113 39.6094 41.4217C39.6094 45.1321 42.6173 48.14 46.3277 48.14Z"
								stroke="#21AB4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>

					</div>
				</div>
			</div>
		</div>

	</div>
</section>
{% endblock main %}