{% extends "base.html" %}

{% block content %}
<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">шиномонтаж</a></li>
	</div>
</ul>

<section class="innerHeader">
	<div class="container">
		<div class="innerHeader__wrapper row">
			<div class="innerHeader__left">
				<h2>Качественный <br>
					шиномонтаж в Казани</h2>
				<p>От качества шиномонтажа зависит степень безопасности Вашего авто
					на дороге. Быстро и качественно справиться с данной задачей под силу высококвалифицированным специалистам
					сервисного центра </p>
				<a href="" class="btn">Заявка на Шиномонтаж</a>
			</div>
			<div class="innerHeader__right">
				<img src="/static/img/sotr2.webp" alt="">
			</div>
		</div>
	</div>
</section>

<section class="sotr-prefs">
	<div class="container">
		<h2>В перечень наших услуг входит</h2>
		<div class="sotr-prefs__row row">
			<div class="sotr-prefs__item">
				<span>01</span>
				<p>Демонтаж-монтаж
					сезонной резины</p>
			</div>
			<div class="sotr-prefs__item">
				<span>02</span>
				<p>Круглогодичное
					хранение покрышек</p>
			</div>
			<div class="sotr-prefs__item">
				<span>03</span>
				<p>Измерения давления
					в покрышках</p>
			</div>
			<div class="sotr-prefs__item">
				<span>04</span>
				<p>Балансировка
					колес</p>
			</div>
		</div>
	</div>
</section>

<section class="sotr-table">
	<div class="container">
		<h2>Стоимость услуг по видам за 1 колесо · Легковые автомобили</h2>
		<div class="lk__bonus__table">

			<div class="lk__bonus__table__wrapper">
				<div class="lk__bonus__table__row ">
					<div class="lk__bonus__table__col">Вид работ</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>

				</div>
				<div class="lk__bonus__table__row ">
					<div class="lk__bonus__table__col">Монтаж и балансировка</div>
					<div class="lk__bonus__table__col">200 ₽</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>

				</div>
				<div class="lk__bonus__table__row ">
					<div class="lk__bonus__table__col">Вид работ</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>

				</div>
				<div class="lk__bonus__table__row ">
					<div class="lk__bonus__table__col">Монтаж и балансировка</div>
					<div class="lk__bonus__table__col">200 ₽</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R14</div>
					<div class="lk__bonus__table__col">R12</div>
					<div class="lk__bonus__table__col">R13</div>
					<div class="lk__bonus__table__col">R14</div>

				</div>
			</div>


		</div>
	</div>
</section>

{% include "_podbor.html" %}

{% endblock content %}