{% extends "base.html" %}

{% block content %}
<ul class="breadcrumbs">
	<div class="container row">
		<li>Главная</li>
		<li><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.25026 8.29995L3.53359 5.58328C3.21276 5.26245 3.21276 4.73745 3.53359 4.41662L6.25026 1.69995"
					stroke="#B3B7BC" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</li>
		<li><a href="">Сотрудничество</a></li>
	</div>
</ul>

<section class="innerHeader">
	<div class="container">
		<div class="innerHeader__wrapper row">
			<div class="innerHeader__left">
				<h2>Мы всегда открыты <br>сотрудничеству</h2>
				<p>С крупными фирмами для совместного развития и расширения бизнеса. Наша компания осуществляет прямые
					поставки
					новых автошин и дисков в любую точку страны. </p>
				<a href="" class="btn">Заявка на сотрудничество</a>
			</div>
			<div class="innerHeader__right">
				<img src="/static/img/sotr.webp" alt="">
			</div>
		</div>
	</div>
</section>

<section class="sotr-text">
	<div class="container">
		<h2>Сотрудничество</h2>
		<p>Предлагаем сотрудничество организациям и оптовым покупателям. У нас вы можете купить шины и диски оптом
			от известных мировых производителей. Мы сотрудничаем с флагманами мира автомобильных шин: Nokian, Pirelli,
			Cordiant, Bridgestone, Hankook, Gislaved, Michelin, чье качество проверено временем и автолюбителями.</p>
	</div>
</section>

<section class="preference">
	<div class="container">
		<h2>Наши преимущества</h2>
		<div class="preference__plate">
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Широкий ассортимент
						для быстрого поиска товара
					</p>
					<div class="preference__plate__img"><img src="/static/files/p1.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						18 лет
					</div>
					<p>
						на рынке шин
						и дисков
					</p>
				</div>
			</div>
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Выгодные
						цены, бонусы
						и постоянные скидки
					</p>
					<div class="preference__plate__img"><img src="/static/files/p2.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						2 000 +
					</div>
					<p>
						постоянных
						клиентов
					</p>
				</div>
			</div>
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Помощь
						в выборе подходящих
						шин и дисков
					</p>
					<div class="preference__plate__img"><img src="/static/files/p3.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						5 000 +
					</div>
					<p>
						товаров в наличии
						на складе
					</p>
				</div>
			</div>
			<div class="preference__plate__item">
				<div class="preference__plate__top row">
					<p>
						Собственный сервисный
						центр
						и магазин
					</p>
					<div class="preference__plate__img"><img src="/static/files/p4.svg" alt=""></div>
				</div>
				<div class="preference__plate__bottom">
					<div class="preference__plate__num">
						50 +
					</div>
					<p>
						сотрудников
						в компании
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sotr-prefs">
	<div class="container">
		<h2>Стать нашим партнером очень просто</h2>
		<div class="sotr-prefs__row row">
			<div class="sotr-prefs__item">
				<span>01</span>
				<p>Вы проходите процедуру Регистрации на нашем сайте, заполнив анкету. Если у вас нет на это времени, наш
					менеджер сделает это за вас.</p>
				<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M15.584 2.83331H12.7507C5.66732 2.83331 2.83398 5.66665 2.83398 12.75V21.25C2.83398 28.3333 5.66732 31.1666 12.7507 31.1666H21.2507C28.334 31.1666 31.1673 28.3333 31.1673 21.25V18.4166"
						stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					<path
						d="M22.7237 4.27833L11.5603 15.4417C11.1353 15.8667 10.7103 16.7025 10.6253 17.3117L10.0162 21.5758C9.78948 23.12 10.8803 24.1967 12.4245 23.9842L16.6886 23.375C17.2836 23.29 18.1195 22.865 18.5587 22.44L29.722 11.2767C31.6486 9.34999 32.5553 7.11166 29.722 4.27833C26.8886 1.44499 24.6503 2.35166 22.7237 4.27833Z"
						stroke="#243228" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
						stroke-linejoin="round" />
					<path d="M21.123 5.87915C22.0722 9.26498 24.7214 11.9142 28.1214 12.8775" stroke="#243228"
						stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</div>
			<div class="sotr-prefs__item">
				<span>02</span>
				<p>В течение 3 дней вы получаете логин и пароль
					от системы b2b. Затем вы Входите в систему
					и начинаете работать на сайте.</p>
				<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M12.7507 31.1666H21.2507C28.334 31.1666 31.1673 28.3333 31.1673 21.25V12.75C31.1673 5.66665 28.334 2.83331 21.2507 2.83331H12.7507C5.66732 2.83331 2.83398 5.66665 2.83398 12.75V21.25C2.83398 28.3333 5.66732 31.1666 12.7507 31.1666Z"
						stroke="#243228" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					<path d="M10.9785 17L14.9877 21.0092L23.0202 12.9908" stroke="#243228" stroke-width="1.5"
						stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</div>
		</div>
	</div>
</section>

{% include "_podbor.html" %}

{% endblock content %}