
.main-menu__cart {
  background: #F1F3F7;
  border-radius: 50px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 8px;
}
